// .nav-links{
//   list-style-type: none;
//   text-align: center;
//   margin: 10em 0 0 -16em;
//   padding-top: 1em;
// }

.nav-link{
  display: inline-block;
  padding: 1em;
  font-family: 'Arapey', serif;
  text-decoration: none;
  color: black;
}

.nav-link:hover{
  color: #1DC1A9;
  font-style: italic;
  cursor: pointer;
}

.nav {
  font-family: 'Arapey', serif;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
}
