.denver{

  /*border: 1px solid blue;*/
}

.nav-links{
  list-style-type: none;
  text-align: center;
  // margin: 10em 0 0 -16em;
  padding-top: 1em;
  /*border: 1px solid blue;*/
}

.nav-link{
  display: inline-block;
  padding: 1em;
  font-family: 'Arapey', serif;
  text-decoration: none;
  color: black;
}

.nav-link:hover{
  color: #1DC1A9;
  font-style: italic;
}

.nav {
  font-family: 'Arapey', serif;
  text-align: center;
  padding: 0.5em;
  vertical-align: middle;
}
