.App {
  text-align: center;
}

.main-container {
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: block;
    width: 100%;
}

.component {
  width: 30%;
  height: 30%;
  background-color: black;
  justify-content: center;
  color: white;
  margin:auto;
}

.nav {
  height: 11em;
  padding-bottom: 2em;
  /*background-color: rgb(166,214,207);*/
  background-color: #EFC7C2;
  align-items: center;
  justify-content: center;
  display: flex;
}
.logo details{
  width: 100%;
  color: green;
  justify-content: center;
  align-items: center;
  display: flex;
}

 .details {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.carousel-container{
  width: 80%;
  justify-content: center;
  margin: auto;

}
