import background-img from "/Users/g/development/Personal/tattoo/public/3AX6ar.jpg"

.App {
  text-align: center;
}

.main-container {
    background-image: url('./images/3AX6ar.jpg');
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    width: 100%;
}

.component {
  width: 30%;
  height: 30%;
  background-color: black;
  justify-content: center;
  color: white;
}

.nav {
  height: 10em;
  background-color: pink;
  align-items: center;
  justify-content: center;
  display: flex;
}
